body,html{
    height: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
.top-nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    align-items: center;
}
.top-nav-contents{
    display: flex;
    justify-content: flex-start;

}
.g-p{
    margin-right: 5px;
    color: #f00;
    font-weight: bold;
}
.fa-phone{
    color: #fff;
    margin-right: 5px;
}
.tel{
    color: #f00;
    margin-left: 5px;
    font-weight: bold;
}
.appointment{
    background-color: aqua;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/GutterCleaning.png");
    position: relative;
    height: 70%;
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
}
.appointment-contents{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 100px;

}
.prof{
    display: flex;
    font-size: 40px;
}
.what-we-do{
    text-align: center;
}
.what-we-do h2{
    color: #f00;
    margin-top: 40px;
    margin-bottom: 5px;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    /* grid-column-gap: 1px; */
    padding-top: 30px;
    padding-bottom: 50px;
    align-content: center;

}
.griditem {
    /* padding: 10px; */
    /* text-align: center; */
}
.griditem img{
    width: 250px;
    /* height: 300px; */
}
.griditem h3{
    color: #f00;
    margin-top: 10px;
    text-align: center;
}
.griditem p{
    margin-top: 10px;
    text-align: center;
}
.who-we-are{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 40px;
    text-align: center;
}
.who-we-are h2{
    padding-top: 15px;
    color: #f00;
    margin-bottom: 5px;
}
.lorem{
    color: #fff;
    margin-bottom: 15px;
}
.btn{
    margin-top: 35px;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    text-align: center;
    padding: 15px 40px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.mid-section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}
.griditem1{
    background-image: url(../images/cleaner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

}
.griditem4{
    background-image: url(../images/tiled-pressure-jetting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.griditem2{
    padding-top: 40px;
    padding-left: 35px;
    /* padding-bottom: 50px; */
    align-items: center;
}
.griditem3{
    padding-top: 40px;
    /* padding-left: 35px; */
    /* padding-bottom: 10px; */
    padding-right: 30px;
}

.mid-section h2{
    /* padding-bottom: 40px; */
    margin-bottom: 10px;
}

.testimonials{
    background-color: #f00;
    color: #fff;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    /* padding-left: 40px; */
    
}
.outside{
    border: 1px solid #fff;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;    
    padding-right: -30px;
}
.carditem{
text-align: start;
}
.carditem img{
    padding-top: 5px;
    margin-right: 8px;
}

.name{
    margin-left: 5px;
    align-content: center;
}
.footer{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.images{
    display: flex;
    align-content: center;
    align-items: center;
}
.images span{
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}